venv/
.venv/

__pycache__/
*.pyc

.env

.pytest_cache/
.coverage

.vscode/
.idea/

logs/

dist/
build/

secrets/
*.service-account.json
firebase-service-account.json
gramago-delivery-58687-firebase-adminsdk-fbsvc-fb216d04e9.json